.form-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.form-container .input-file {
  visibility: hidden;
}

.form-container label, .form-container button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(12, 12, 12);
  box-shadow: 0 0 4px #999;
  outline: none;
  text-align: center;
  background-color: white;
}

.form-container label:hover, .form-container button:hover {
  background-color: rgb(209, 209, 209);
  background-size: 100%;
  transition: background 0s;
}
