.transactions_container {
    height: 70vh;
    overflow-y: scroll;
}

th, td{
  padding: 5px 15px;
  text-align: center;
}

table{
    margin-top: 10px;
}
.total-price{
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    padding: auto;
}
.placar-style {
  
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Rajdhani;
    font-size: 1.2rem;
    border-top: 0.2rem solid #bebebe;
    background: #f2f3f5;
    color: black;
  }

th {
    background-color: #fffb00;
    position: sticky;
    top: 0;
}

tr:nth-child(odd) td{
    background-color: #e4e4e4;
}

tr:nth-child(odd):hover td {
    background:#acacac;
}